:root {
    --font:'Raleway', sans-serif;
    --clr-primary: #e2001a;
    --clr-secondary: #a41310;
    --white: #f4f4f4;
    --yellow:#ffd202;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

html {
    font-size: 62.5%;
    
}

.slider-container{
    overflow: hidden;
    border-bottom: 5px solid var(--clr-primary);
    width: 100%;
}

.slider-container figure .slider-content{
    width:100%;
    float: left;
}

.slider-container figure img{
    width: 100%;
}

.slider-icon__arrow{
    position:absolute;
    color:var(--white);
    font-weight: 900;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    font-size:4rem;
    top:10rem;
    cursor: pointer;
    z-index: 1;
}

.leftArrow{
    left: 2rem;
}

.rightArrow{
    right: 2rem;
}

@keyframes slider{
    0%{margin-left:0;}
    20%{margin-left:0;} 
    
    25%{margin-left:-100%;}
    45%{margin-left:-100%;}
    
    50%{margin-left:-200%;}
    70%{margin-left:-200%;}
     
    75%{margin-left:-300%;}
    95%{margin-left:-300%;} 
    100%{margin-left:-400%;} 
    
}
/* 
@media (min-width: 375px) and (max-width: 500px) {

    .slider-content{
        margin-left:3rem;
        
    }
       
    .slider-text__msj{
        font-size: 1.3rem;
        
    }
    
    .slider-text__nameMenu{
        font-size:1.7rem;
    }
    
    .slider-text__priceMenu{
        font-size: 4rem;
        letter-spacing: -.1rem;
        
    }
    
    .slider-icon__arrow{
        font-size:2rem;
        
    }
    
    .slider-container .slider-image__menu img{
        width:13rem;
        height:10rem;
        border-radius: 50%;
    }

}   

@media (min-width: 501px) and (max-width: 700px) {

    .slider-container {
        
        height: 15rem;
    }
    .slider-content{
        margin-left:4rem;
        
    }
       
    .slider-text__msj{
        font-size: 1.7rem;
        
    }
    
    .slider-text__nameMenu{
        font-size:2.4rem;
    }
    
    .slider-text__priceMenu{
        font-size: 5.5rem;
        letter-spacing: -.1rem;
        
    }

    .slider-container .slider-image__menu img{
        width:18rem;
        height:13rem;
        border-radius: 50%;
    }
}

@media (min-width: 701px) and (max-width: 930px) {
    .slider-container {
        
        height: 20rem;
    }
    .slider-content{
        margin-left:4rem;
        
    }
       
    .slider-text__msj{
        font-size: 2.5rem;
        
    }
    
    .slider-text__nameMenu{
        font-size:3.5rem;
    }
    
    .slider-text__priceMenu{
        font-size: 8rem;
        letter-spacing: -.1rem;
        
    }

    .slider-container .slider-image__menu img{
        width:27rem;
        height:17rem;
        border-radius: 50%;
    }

    .slider-content__text .slider-text__terms{
        margin-left: 2.5rem;
        font-size:.9rem;
    }
    
}
@media (min-width: 931px){
    .slider-container {
        
        height: 22rem;
    }
    .slider-content{
        margin-left:10rem;
        
    }
       
    .slider-text__msj{
        font-size: 3rem;  
    }
    
    .slider-text__nameMenu{
        font-size:4rem;
    }
    
    .slider-text__priceMenu{
        font-size: 9.5rem;
        letter-spacing: -.4rem;
        
    }
    
    .slider-container .slider-image__menu img{
        width:33rem;
        height:18rem;
        border-radius: 50%;
    }
    
    .slider-content__text .slider-text__terms{
        margin-left: 2.8rem;
        font-size:.9rem;
    }

}

@media (min-width: 1200px){
    .slider-container {
        height: 25rem;
    }
    .slider-content{
        margin-left:30rem;
        
    }

    .slider-text__msj{
        font-size: 3.5rem;  
    }
    
    .slider-text__nameMenu{
        font-size:4.5rem;
    }
    
    .slider-text__priceMenu{
        font-size: 12.5rem;
        letter-spacing: -.4rem;
        
    }

    
    .slider-container .slider-image__menu img{
        width:45rem;
        height:19rem;
        border-radius: 50%;
    }
    
} */
